{% extends 'recipes/base.html' %}
{% load static %}
{% load recipe_filters %}
{% load thumbnail %}

{% block title %}
    Мои подписки
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% staticfiles '/pages/myFollow.css' %}">
{% endblock stylesheet %}

{% block content %}

    <div class="main__header">
        <h1 class="main__title">Мои подписки</h1>
    </div>

    <div class="card-list">

        {% for subscription in page %}
            <div class="card-user" data-author="{{ subscription.id }}">
                <div class="card-user__header">
                    <h2 class="card-user__title">{{ subscription.username }}</h2>
                </div>
            <div class="card-user__body">

            {% for recipe in subscription.recipes.all|slice:':3' %}
                <ul class="card-user__items">
                    <li class="card-user__item">
                        <div class="recipe">
                            <img src="{{ recipe.image.url }}" alt="{{ recipe.title }}" class="recipe__image">
                            <a href={% url 'recipe' recipe.author recipe.id %}><h3 class="recipe__title">{{ recipe.title }}</h3></a>
                            <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cooking_time }} мин.</p>
                        </div>
                    </li>
                </ul>
            {% endfor %}

            {% if subscription.recipes.all|length > 3 %}
                <li class="card-user__item">
                    <a href="{% url 'profile' subscription.username %}" class="card-user__link link">Еще {{ subscription.recipes.all|length|add:'-3'}} {{ subscription.recipes.all|length|add:'-3'|plural_recipes }}...</a>
                </li>
            {% endif %}
        </div>
        <div class="card-user__footer">
            <button class="button button_style_light-blue button_size_auto" name="subscribe">Отписаться</button>
        </div>
        {% endfor %}
        </div>
    </div>
    {% if page.has_other_pages %}
        {% include "includes/paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock %}

{% block scripts %}

<script src="{% staticfiles './js/config/config.js' %}"></script>
<script src="{% staticfiles './js/components/MainCards.js' %}"></script>
<script src="{% staticfiles './js/components/MyFollow.js' %}"></script>
<script src="{% staticfiles './js/components/Subscribe.js' %}"></script>
<script src="{% staticfiles './js/components/Header.js' %}"></script>
<script src="{% staticfiles './js/api/Api.js' %}"></script>
<script src="{% staticfiles 'myFollow.js' %}"></script>

{% endblock %}
