{% extends "recipes/base.html" %}
{% load static %}
{% block title %} Об авторе {% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% staticfiles 'pages/index.css' %}">
{% endblock stylesheet %}

{% block nav %}
    {% include "includes/nav.html" %}
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">
           <p><h3> Меня зовут Ярослав, я выпускник Яндекс.Практикума
           по специальности Pyhton-разработчик. Со мной можно связаться через:</h3>
           <p><h4><a href='mailto:varik272@yandex.ru'>Почту: varik272@yandex.ru a> </h4></div></p>
           <p><h4><a href='https://vk.com'>ВК</a></h4></p>
           <p><h4><a href='https://github.com/yaroslav194'>Мой профиль на Github</a></h4></p>
    </main>

{% endblock %}